
.gridContainer {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}

@media only screen and (max-width: 500px){
  .gridContainer {
    display: grid;
    align-content: center;
    grid-template-columns:  1fr;
    justify-content: center;
  }
}

.array-container {
  height: 705px;
  grid-column: '1 / 3';
  position: relative;
  top: 10px;
}

.array-bar {
  width: 3px;
  display: inline-block;
  margin: 0 1px;
}

.button {
  display: block;
  margin: 10px auto  0px  auto ;
  color: white;
  background-color: blue;
}

.generateNewArrayButton{
  display: block;
  margin: 10px auto  0px  auto ;
  color: white;
  background-color: purple;
}



